<div style="frontpage">
    <h1> Saul Joseph Wiggin </h1>
	<h1> Student, Electronic Engineering PhD</h1>
	<h1> tel: 07804672808 email: saulwiggin@googlemail.com </h1>
</div>
	<img src="http://placekitten.com/g/200/200" />
	<a href="http://twitter.com/saul_wiggin"> Follow me on Twitter! </a>
<div style="background: blue;">
		<h1> Hello </h1>
		<h2> How are you </h2>
	</div>

